@import url('https://fonts.cdnfonts.com/css/supernatural-knight'); 
*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dash {
  width: 100%;

  top: 0;
  background: #000000;
  box-shadow: inset 10px 20px 250px rgba(46, 92, 255, 0.25);
  height: 120vh;
}
.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;

}



.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}
canvas {

  width: 95% !important;
  height: 95% !important;
}
#graficos .container * {
  margin: 0px;
  
}
#graficos .container {
 display: flex;
 flex-direction: column ;
 justify-content: center;
 align-items: center;
}

.graph {
  width: 500px;
  height: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 18, 181, 0.2);
  align-items: center;
  border-radius: 20px;
}
#graficos .container h1 {
  color:aliceblue;
  text-align: center;
  }
  #graficos .container p{
margin:0 ;
word-wrap:break-word;
flex-wrap: nowrap;
    color: whitesmoke;
    text-align: center;
    font-size: 22px;
  }
  .mural{
    width: 100%;
  top: 0;
  background: #000000;
  box-shadow: inset 10px 20px 250px rgba(46, 92, 255, 0.25);
  height: 120vh;
  }
  .mural .container{
    display: flex;
    flex-direction: column;
  }
  .mural .container p{
    margin: 0;
  }
  canvas{
    color: white;
  }