@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
  
  margin: 0;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;

}
.header .container h2{
  color: wheat;
}

.header {
  height: 80px;
  border-bottom: 2px solid rgb(2, 2, 99);
  background-color: #000000;
  margin: 0px;
  width: 100%;
  
}

.header .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
  
}


.titulo {
  background-image: url(../assets/estrelahome.png);
background-size: cover;
  height: 80px;
  width: 80px;
  position: absolute;
}
.titulo2 {
  background-image: url(../assets/nomehome.png);
  background-repeat: no-repeat;
  background-position: center;
background-size: cover;
  height: 80px;
  color: aqua;
  width: 500px;

}
#navbar{
  width: 100%;
display:flex;
justify-content:space-between;
align-items: center;
}
#navbar h3{
  color: whitesmoke;
  font-family: 'Supernatural Knight', sans-serif !important;
}